<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="bck-img">

    <div class="login-box">
      <h2>Login</h2>
      <form action="/login" method="post">
        <div class="user-box">
          <input type="text" name="username" required>
          <label>Username</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" required>
          <label>Password</label>
        </div>
        <button type="submit" class="btn button-block">Masuk</button> 
        <span>belum punya akun? <a href="/register">Daftar</a></span>
        
        
      </form>
      
    </div>
  </div>
</body>
</html>
